<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuxl.interviewquestions">

    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取LOG -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="584a4c56b27b0a0f32000e2a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_CALUE}" />

        <!-- bugly渠道统计 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="酷安" />

        <activity
            android:name=".activity.QuestionListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

    </application>

</manifest>